:root {
    /* --primary-color: #682AE9; */
    --light-gray-color: #DBDBDB;
    --gray-color: #808080;
    --background-color: #0E1212;
    --white-color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    background-color: var(--background-color);
}

/* Header Section */
header {
    display: flex;
    justify-content: end;    
    align-items: center;
    height: 10vh;
    padding-right: 10vh;
    padding-left: 10vh;
    color: var(--text-white-color);
    z-index: 999;
    background: var(--background-color);
    /* background-color: red; */
    position: sticky;
    top: 0;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    margin-left: 30px;
    font-size: .9rem;
    color: var(--gray-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: var(--light-gray-color);
}

header nav ul li:nth-last-child(2) {
    margin-left: 15px;
  }

header nav ul li .social-link  {
    margin-left: 15px;
    fill: var(--gray-color);
    transition: fill 0.3s ease;
}

header nav ul li .social-link:hover  {
    fill: var(--light-gray-color);
}

header nav ul li .active {
    color: var(--light-gray-color);
}

nav input[type="checkbox"],
nav .hamburger-lines {
  display: none;
}

/* Main Section */
#home {
    height: 90vh;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#home .section-am {
    width: 100%;
    margin-top: 15vh;
}

#home .section-am img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#home .section-am h1 {
    color: var(--light-gray-color);
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: 400;
}

#home .section-am p {
    color: var(--gray-color);
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 400;
}

#home .section-ts {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#home .section-ts h1 {
    color: var(--light-gray-color);
    font-size: 1.2rem;
    font-weight: 400;
}

#home .section-ts ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

#home .section-ts ul li {
    margin-right: 8px;
    color: var(--gray-color);
    font-size: .9rem;
}

#home .section-cta {
    margin-top: 20px;
    display: flex;
}

#home .section-cta .btn-cta {
    background-color: var(--background-color);
    height: 35px;
    width: 120px;
    border: 1.5px solid var(--light-gray-color);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-gray-color);
    font-size: .9rem;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#home .section-cta .btn-cta svg {
    margin-right: 5px;
    fill: var(--light-gray-color);
    transition: fill 0.3s ease;
}

#home .section-cta .btn-cta:hover {
    background-color: var(--light-gray-color);
    color: var(--background-color);
    border: 1.5px solid var(--gray-color);
    cursor: pointer;
}

#home .section-cta .btn-cta:hover svg {
    fill: var(--background-color);
}

/* ================ Experience ================ */
#experience {
    height: 100vh;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;   
    color: var(--light-gray-color);
}

#experience .section-title {
    margin-top: 15vh;
    font-size: 1.2rem;
    font-weight: 400;

}

.timeline {
    width: 100%;
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.timeline li {
    position: relative;
    margin-bottom: 20px;
}

#experience  .timeline li::before {
    content: ' '; 
    color: var(--light-gray-color);
    background-color: var(--light-gray-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 3px;

}

.timeline li .timeline-title {
    color: var(--light-gray-color);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#experience  .timeline li .desc::before {
    content: ' ';
    background-color: var(--light-gray-color);
    width: 1px;
    height: 80px;
    position: absolute;
    left: -18px;
    top: -13px;
}

@media screen and (max-width: 884px) {
    #experience .timeline li .desc::before {
        height: 100px;
    }
}

@media screen and (max-width: 553px) {
    #experience .timeline li .desc::before {
        height: 100px;
    }
}
@media screen and (max-width: 361px) {
    #experience .timeline li .desc::before {
        height: 130px;
    }
}

.timeline li .desc {
    position: relative;
    color: var(--gray-color);
    font-size: 1rem;
    font-weight: 400;
}

/* ================ Education ================ */
#education {
    height: 100vh;
    padding-left: 25%;
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;   
    color: var(--light-gray-color);
}

#education .section-title {
    margin-top: 15vh;
    font-size: 1.2rem;
    font-weight: 400;
}

#education .timeline-badge {
    margin-top: 10px;
    font-size: .9rem;
}

#education  .timeline li::before {
    content: ' '; 
    color: var(--light-gray-color);
    background-color: var(--light-gray-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 3px;
}

#education  .timeline li .desc::before {
    content: ' ';
    background-color: var(--light-gray-color);
    width: 1px;
    height: 135px;
    position: absolute;
    left: -18px;
    top: -13px;
}

@media screen and (max-width: 980px) and (min-width: 770px) {
    #education .timeline li .desc::before {
        height: 180px;
        margin-top: -21px;
    }
}

@media screen and (max-width: 613px) {
    #education .timeline li .desc::before {
        height: 180px;
        margin-top: -21px;
    }
}
@media screen and (max-width: 325px) {
    #education .timeline li .desc::before {
        height: 220px;
        margin-top: -42px;
    }
}

#skills {
    height: 100vh;
    padding: 5% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 100vh;
    padding: 5% 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.coming-soon {
    color: var(--light-gray-color);
    font-size: 1rem;
    font-weight: 400;
}

/* Media Queries */
@media screen and (max-width: 769px) {
    header {
        padding-right: 5vh;
        padding-left: 5vh;
    }

    header nav ul {
        display: none;
    }

    nav input[type="checkbox"] {
        display: block;
        position: absolute;
        height: 32px;
        width: 30px;
        top: 3vh;
        right: 5vh;
        z-index: 5;
        opacity: 0;
    }

    nav .hamburger-lines {
        display: block;
        height: 18px;
        width: 26px;
        position: absolute;
        top: 3vh;
        right: 5vh;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

    nav .hamburger-lines .line {
        display: block;
        height: 2px;
        width: 100%;
        border-radius: 10px;
        background: var(--gray-color);
    }
    
    nav .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    
    nav .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }
    
    nav .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(40deg);
        background-color: var(--background-color);
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }
    
    nav input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-40deg);
        background-color: var(--background-color);
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
    
    @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
    
    nav input[type="checkbox"] ~ ul.fadeOut {
        background-color: var(--light-gray-color);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeOut 0.5s ease-in-out forwards;
    }

    nav input[type="checkbox"] ~ ul.fadeOut li {
        margin-bottom: 20px;
    }
    nav input[type="checkbox"] ~ ul.fadeOut li a {
        margin-left: 0px;
        font-size: 1rem;
    }

    nav input[type="checkbox"] ~ ul.fadeOut li .social-link svg {
        width: 40px;
        height: 40px;
    }

    nav input[type="checkbox"] ~ ul.fadeOut li:nth-last-child(2) {
        margin-left: 0px;
    }
    
    nav input[type="checkbox"]:checked ~ ul {
        background-color: var(--light-gray-color);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    nav input[type="checkbox"]:checked ~ ul li {
        margin-bottom: 20px;
    }
    nav input[type="checkbox"]:checked ~ ul li a {
        margin-left: 0px;
        font-size: 1rem;
    }

    nav input[type="checkbox"]:checked ~ ul li:nth-last-child(2) {
        margin-left: 0px;
    }

    /* nav input[type="checkbox"]:checked ~ ul li:nth-last-child(-n+2) {
        background-color: var(--background-color);
    } */
    
    nav input[type="checkbox"]:checked ~ ul li a:hover {
        color: var(--background-color);
    }

    nav input[type="checkbox"]:checked ~ ul li .active {
        color: var(--background-color);
    }
    
    nav input[type="checkbox"]:checked ~ ul li .social-link svg {
        width: 40px;
        height: 40px;
        fill: #0E1212;
        transition: fill 0.3s ease;
    }

    nav input[type="checkbox"]:checked ~ ul li .social-link svg:hover {
        fill: var(--gray-color);
    }

    #home {
        padding: 5% 10%;
    }

    #home .section-am img {
        width: 45px;
        height: 45px;
    }

    #home .section-am h1 {
        font-size: 1rem;
    }

    #home .section-am p {
        font-size: .8rem;
    }

    #home .section-ts h1 {
        font-size: 1rem;
    }

    #home .section-ts ul li {
        font-size: .8rem;
    }

    #home .section-cta .btn-cta {
        height: 35px;
        width: 100px;
        font-size: .8rem;
    }

    #home .section-cta .btn-cta svg {
        margin-right: 3px;
    }

    #experience {
        padding: 5% 10%;
    }

    #skills {
        padding: 5% 10%;
    }

    #projects {
        padding: 5% 10%;
    }

    #education {
        padding: 5% 10%;
    }

    section .coming-soon {
        font-size: .7rem;
    }
}
